<a href="https://colab.research.google.com/github/SiweiLuo/DL_with_Python/blob/master/CV_preprocess2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd
import string 
import keras
from keras.preprocessing.text import Tokenizer
from keras import preprocessing
from keras.models import Sequential
from keras.layers import Flatten, Dense
from keras.layers import Embedding
from keras.utils.np_utils import to_categorical
from keras.utils import np_utils
from keras.datasets import imdb

from keras.preprocessing.text import one_hot
from keras.preprocessing.text import text_to_word_sequence
from keras.preprocessing import text, sequence

from google.colab import drive

#import StringIO
import time
import sys
import csv

In [62]:
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [0]:
questions = pd.read_csv(r'/content/gdrive/My Drive/Colab Notebooks/CareerVillage/questions.csv')
#print('questions = ',questions)
answers = pd.read_csv(r'/content/gdrive/My Drive/Colab Notebooks/CareerVillage/answers.csv')
#print('answers = ',answers)

In [0]:
questions['questions_body'] = questions['questions_body'].str.replace("<p>", " ").str.replace("</p>", " ").str.replace("\n"," ")
answers['answers_body'] = answers['answers_body'].str.replace("<p>", " ").str.replace("</p>", " ").str.replace("\n"," ")
plt_data_questions = questions['questions_body']
plt_data_answers = answers['answers_body']
plt_data_questions_id = questions['questions_id']
plt_data_answers_questions_id = answers['answers_question_id']
#plt_data = pd.DataFrame([plt_data_questions, plt_data_answers,plt_data_questions_id,plt_data_answers_questions_id]).T

In [95]:
plt_data_questions.head(5)

0    What  is  a  maths  teacher?   what  is  a  ma...
1    I am Priyanka from Bangalore . Now am in 10th ...
2    I'm planning on going abroad for my first job....
3    i hear business management is a hard way to ge...
4    I'm trying to find scholarships for first year...
Name: questions_body, dtype: object

In [96]:
plt_data_answers.head(5)

0     Hi!   You are asking a very interesting quest...
1     Hi. I joined the Army after I attended colleg...
2     Dear Priyanka,  Greetings! I have answered th...
3     I work for a global company who values highly...
4    I agree with Denise. Every single job I've had...
Name: answers_body, dtype: object

In [0]:
#plt_data.head(5)

In [98]:
plt_data_questions_id.head(5)

0    332a511f1569444485cf7a7a556a5e54
1    eb80205482e4424cad8f16bc25aa2d9c
2    4ec31632938a40b98909416bdd0decff
3    2f6a9a99d9b24e5baa50d40d0ba50a75
4    5af8880460c141dbb02971a1a8369529
Name: questions_id, dtype: object

In [0]:
df1 = pd.DataFrame([plt_data_questions_id,plt_data_questions]).T
df2 = pd.DataFrame([plt_data_answers_questions_id,plt_data_answers]).T

In [100]:
df1.head(5)

,questions_id,questions_body
0,332a511f1569444485cf7a7a556a5e54,What is a maths teacher? what is a ma...
1,eb80205482e4424cad8f16bc25aa2d9c,I am Priyanka from Bangalore . Now am in 10th ...
2,4ec31632938a40b98909416bdd0decff,I'm planning on going abroad for my first job....
3,2f6a9a99d9b24e5baa50d40d0ba50a75,i hear business management is a hard way to ge...
4,5af8880460c141dbb02971a1a8369529,I'm trying to find scholarships for first year...

In [101]:
df2.head(5)

,answers_question_id,answers_body
0,332a511f1569444485cf7a7a556a5e54,Hi! You are asking a very interesting quest...
1,eb80205482e4424cad8f16bc25aa2d9c,Hi. I joined the Army after I attended colleg...
2,eb80205482e4424cad8f16bc25aa2d9c,"Dear Priyanka, Greetings! I have answered th..."
3,4ec31632938a40b98909416bdd0decff,I work for a global company who values highly...
4,2f6a9a99d9b24e5baa50d40d0ba50a75,I agree with Denise. Every single job I've had...

In [0]:
#merged_df = df2.merge(df1,how = 'inner', on = 'answers_question_id')
QA = pd.merge(df2, df1, left_on='answers_question_id',right_on='questions_id')

In [106]:
QA.head(5)

,answers_question_id,answers_body,questions_id,questions_body
0,332a511f1569444485cf7a7a556a5e54,Hi! You are asking a very interesting quest...,332a511f1569444485cf7a7a556a5e54,What is a maths teacher? what is a ma...
1,eb80205482e4424cad8f16bc25aa2d9c,Hi. I joined the Army after I attended colleg...,eb80205482e4424cad8f16bc25aa2d9c,I am Priyanka from Bangalore . Now am in 10th ...
2,eb80205482e4424cad8f16bc25aa2d9c,"Dear Priyanka, Greetings! I have answered th...",eb80205482e4424cad8f16bc25aa2d9c,I am Priyanka from Bangalore . Now am in 10th ...
3,4ec31632938a40b98909416bdd0decff,I work for a global company who values highly...,4ec31632938a40b98909416bdd0decff,I'm planning on going abroad for my first job....
4,2f6a9a99d9b24e5baa50d40d0ba50a75,I agree with Denise. Every single job I've had...,2f6a9a99d9b24e5baa50d40d0ba50a75,i hear business management is a hard way to ge...